<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guitarhero.practice">

    <uses-sdk android:minSdkVersion="24" />

    <application>
        <activity
            android:name="com.guitarhero.practice.plugin.VolumeCustomActivity"
            android:exported="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="unityplayer.ForwardNativeEventsToDalvik"
            android:value="true" />
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>

</manifest>